<h1>Posts Index</h1>

<tbody>
  <table>
    <% @posts.each do |post| %>
        <tr>
          <% if current_user && current_user.id == post.user_id %>
            <td><%= post.user.username %></td>
          <% end %>
          <td><%= post.title %></td>
          <td><%= post.body %></td>
          <% if current_user && current_user.id == post.user_id %>
            <td><%#= button_to "Destroy this post", post, data: { turbo_method: :delete } %></td>
            <td><%= link_to 'Destroy', post, :data => {turbo_method: :delete}, :confirm => "Are you sure?" %></td>
          <% end %>
        </tr>
    <% end %>
  </table>
</tbody>

<% if user_signed_in? %>
  <%= link_to "New post", new_post_path %>
<% end %>
